html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:"";content:none}table{border-collapse:collapse;border-spacing:0}

body {
    background-color: rgb(19, 19, 19);
}

footer {
    margin-top: 50px;
}

.navbar {
    list-style-type : none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0c2061;
    position: fixed;
    top: 0;
    width: 100%;
}
div.board2 a {
    color: white;
}
li {
    float: left;
}

li a {
    display: block;
    color: rgb(207, 207, 207);
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    color: #ffffff;
    transition: 0.3s ease;
}

button {
    float: right;
    border: none;
    background-color: #6089e0;
    color: white;
    text-align: center;
    font-size: 16px;
    padding : 13px;
    margin-right: 50px;
    margin-top: 5px;
    border-radius: 20px;
    align-self: center;
}
button:hover {
    box-shadow: 10px 10px 5px black;
    background-color: #6089e0c5 ;
    transition: 0.3s ease;
}

hr {
    margin: 0%;
}

h2 a{
    color:rgb(131, 131, 255);
    text-decoration: none;
    padding-top: 20px;
}
h2 a:hover {
    color:rgb(185, 185, 255);
    text-decoration: underline;
    transition: 0.3s ease;

}
.board-container {
    margin-left: 13%;
    margin-right: 13%;
    margin-bottom: 50px;
    padding: 50px 15px 600px 15px;
    background-color: black;
}

ul.footerul {
    list-style-type : none;
    margin-left: 13%;
    margin-right: 13%;
    padding: 0;
    overflow: hidden;
    color: black;
    font-size: 13px;
    background-color: transparent;
    bottom: 0;
    width: 100%;
}

ul.footerul li a{
    color: gray;
    padding: 10px;
    text-decoration: none;
    background-color: transparent;
}

ul.footerul li a:hover{
    color: yellow;
    transition: 0.3s ease;
}

ul.newboard {
    list-style-type : none;
    margin: 0;
    padding: 0;
    background-color: black;
}
.board-main .newboard li a {
    display: block;
    color: white;
    padding: 15px 0px;
    text-decoration: none;
    text-align: left;
}

ul.newboard li a {
    display: block;
    color: white;
    padding: 8px 0px;
    text-decoration: none;
    text-align: left;
}

ul.newboard li {
    float: none;
}

div.board li a:hover{
    background-color: rgba(255, 255, 255, 0.158);
    transition: 0.3s ease;
}

.board {
    margin-top: 30px;
}

.board h2 {
    font-size: 30px;
    padding-bottom: 5px;
}

.board-main h2 {
    margin-top: 100px;
    font-size: 30px;
    padding-bottom: 5px;
}
:hover {
    transition: 0.3s ease;
}
a :hover {
    color: rgb(128, 39, 39);
}
.board-main li a:hover{
    background-color: rgba(255, 255, 255, 0.158);
}

.headline {
    margin: 30px;
    margin-top: px;
}

.pagination {
    display: inline-block;
    background-color: rgba(37, 37, 37, 0.671);
    border-radius: 30px;
}

.pagination a {
    color: white;
    float: left;
    padding: 16px;
    margin: auto;
    text-decoration: none;
    border-radius: 10px;
}

.pagination a.active {
    background-color: #0c2061;
    border-radius: 30px;
}

.center{
    text-align: center;
    margin-top: 30px;
}

iframe {
    border-style: solid 2px red;
}

.iframeindex {
    width: 900px;
    height: 500px;
    margin-top: 20px;

}

.thumbsup {
    text-align: center;
    display: inline-block;
    float: none;
}

.good {
    background-color: #0c2061;
}
.good span {
    color: blue;
}

.bad {
    background-color: #0c2061;
}
.bad:hover {
    background-color: rgb(255, 110, 110);
}
.bad span {
    color: red;
}

.indexbutton {
    border-bottom: rgb(192, 192, 192) 1px solid;
    color: white;
    margin-top: 150px;
    padding: 10px 0px;
}

.gotolist a {
    color: white;
    text-decoration: none;
}

.posttitle {
    color: white;
    font-size: larger;
    margin-top : 50px;
    padding-bottom : 10px;
    border-bottom: 1px white solid;
}

.posttitle a {
    color: white;
    text-decoration: none;
}

.posttitle a:hover {
    color : rgb(214, 211, 211) ;
    transition: 0.3s ease;
}

.emoji {
    font-size: xx-large;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content {
    display: none;
    background-color: #b3b3b3;
    min-width: 30px;
    z-index: 1;
    margin-top: 5px;
    border-radius: 30px;
}

.dropdown-content a {
    color: white;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
  }

.dropdown:hover .dropdown-content {
    display: block;
}

.ad {
    padding: 120px;
    border: 1px solid red;
    background-color: yellow;
    margin-top: 5px;
    color: red;
    text-align: center;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media(max-width:800px) {
    .navbar {
        display: none;
    }
}